disciplines/CKP8122/code/.ipynb_checkpoints
disciplines/CKP8122/code/__pycache__/

disciplines/CKP8277/code/.ipynb_checkpoints
disciplines/CKP8277/code/__pycache__/
disciplines/CKP8277/code/datasets/

