[submodule "CKP8533"]
	path = CKP8533
	url = https://github.com/omadson/CKP8533.git
[submodule "CKP7466"]
	path = CKP7466
	url = https://github.com/omadson/CKP7466.git
[submodule "CKP8122"]
	path = CKP8122
	url = https://github.com/omadson/CKP8122.git
[submodule "CKP8277"]
	path = CKP8277
	url = https://github.com/omadson/CKP8277.git
