body {
    font-family: "helvetica"
}

h4 span {
    font-size:14px;
    font-weight:normal;
}
  
h2 {
    float: right;
  }
  
h2 span {
    font-size:14px;
    font-weight:normal;
}

#mapid {
    width: 650px;
    height: 450px;
}
